//@import "compass/css3";

@mixin highlight($color: rgba(0,0,0,0)) {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -ms-interpolation-mode: bicubic;
  ::-moz-selection { background: transparent; }
  ::selection { background: transparent; }
}

@function em($target, $context: $base-font-size) {
  @if $target == 0 { @return 0 }
  @return $target / $context + 0em;
}


@mixin m-icon($name) {
  .m-icon--#{$name}{
    display: block;
    background-repeat: no-repeat;
    background: sprite($icon, $name);
    @include sprite-dimensions($icon, $name);
  }
  .m-icon-hover--#{$name}{
    &:hover {
      display: block;
      background-repeat: no-repeat;
      background: sprite($icon, $name);
      @include sprite-dimensions($icon, $name);
    }
  }
  .m-icon-inactive--#{$name}{
    &.inactive {
      display: block;
      background-repeat: no-repeat;
      background: sprite($icon, $name);
      @include sprite-dimensions($icon, $name);
    }
  }
}


@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin flex-direction($values) {
  -webkit-flex-direction: $values;
  -ms-flex-direction: $values;
  flex-direction: $values;
}
@mixin flex-wrap($values) {
  -webkit-flex-wrap: $values;
  -ms-flex-wrap: $values;
  flex-wrap: $values;
}
@mixin wrap() {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@mixin flex-grow($values) {
  -webkit-box-flex: $values;
  -webkit-flex-grow: $values;
  -moz-flex-grow: $values;
  -ms-flex-positive: $values;
  flex-grow: $values;
}
@mixin flex-basis($values) {
  -webkit-flex-basis: $values;
  -moz-flex-basis: $values;
  -ms-flex-preferred-size: $values;
  flex-basis: $values;
}
@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}
@mixin popularColumns(){
  -webkit-column-width: 190px;
  -webkit-column-rule: none;
  -webkit-column-gap: 20px;
  -webkit-column-fill: balance;
  -moz-column-width: 190px;
  -moz-column-rule: none;
  -moz-column-gap: 20px;
  -moz-column-fill: balance;
  column-width: 190px;
  column-rule: none;
  column-gap: 20px;
  column-fill: balance;
}
